.hg/
.hgignore
desc/auto/
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
bin/
models/*.java.xmi
models/*.ecore
models/java/
models/sun/
postproc/auto/
postproc/ttc-2013-flowgraphs-case.pag
/.metadata/



scala-capitrain/.idea
scala-capitrain/project
scala-capitrain/target
scala-capitrain/*.iml

*.iml
.idea
